{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
    
    {% if app.user %}
        <div class="container-fluid">   
            <h2 class="p-3 bg-light text-center">Admin panel <i class="fas fa-chalkboard-teacher"></i></h2> 
            <div class="text-right">
                <a class="btn btn-outline-info" href="{{ path('app_logout') }}">Logout <i class="fas fa-sign-out-alt"></i></a>
            </div>
            {% include "admin/account_delete_form.html.twig" %}
            <div class="table-responsive mt-2">
            <table class="table table-striped table-hover">
                <caption>List of visitors</caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>prm1</th>
                        <th>prm2</th>
                        <th>prm3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                    </tr>   
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                    </tr> 
                </tbody>
            </table>
            </div>
        </div>
    {% endif %}    
{% endblock %}
